



body{
    margin: 0;
    padding: 0;
    background-color:  rgba(74, 51, 107, 0.727);
}


header{


.navbar{
    background-image: linear-gradient(30deg, rgba(74, 51, 107, 0.727), rgb(155, 34, 86));
    position: relative;

  h1{
    font-size: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(47, 22, 109) ;
    text-shadow: 0 -3px 5px rgb(56, 200, 34),
    0 3px  5px  rgb(155, 34, 86),
      -3px 0  5px  blue,
      3px 0  5px  rgb(215, 200, 25);
      margin-left: 100px;
    }
    .logo-img{
        position: absolute;
        left: 0;
        top: -17%;
    }
}

}
section{


h3{
color: rgb(155, 34, 86);
}
main{

    .carousel{
        margin: 0 auto;
       
        p{
          background-color:  rgba(255, 228, 196, 0.682) !important;
          font-weight: 500;
        }
        h5{
          color: white;
          display:inline-block;
          padding: 5px;
          background-color:  rgba(155, 34, 86, 0.662);
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
}
span{
  font-size: 3rem;
  text-shadow: 
  0 3px   rgba(51, 1, 23, 0.662),
    -3px 0   rgba(186, 182, 191, 0.727);
    color: #00000000;
   
}
        
      
       }
}
}
